# ARIS Dependencies
fastapi
uvicorn
python-dotenv
google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain
chromadb
sqlalchemy
pydantic
playwright
pyautogui
psutil
pycaw
sounddevice
soundfile
scipy
numpy
openwakeword
transformers
torch
plyer
pyttsx3
pywin32
httpx
todoist-api-python
openai-whisper